<li>
	<div class="msj-rta macro">
		<div class="text text-r">
			{{{msg}}}
			<p><small>{{ date }}</small></p>
		</div>
		<div class="avatar" style="padding:0px 0px 0px 10px !important">
			<img class="img-circle" style="width:100%;" src="https://d30y9cdsu7xlg0.cloudfront.net/png/28693-200.png">
		</div>
	</div>
</li>