<li>
	<div class="msj macro">
		<div class="avatar">
			<img style="width:100%;" class="img-circle" src="https://cdn3.iconfinder.com/data/icons/human-figure/30/man-7-512.png">
		</div>
		<div class="text text-l">
			<p>{{ msg }}</p>
			<p><small>{{ date }}</small></p>
		</div>
	</div>
</li>